[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
ipython = "*"
decorator = "*"
docopt = "*"
graphviz = "*"
jupyter = "*"
jupyterlab = "*"
luigi = "*"
markdown = "*"
mypy = "*"
notebook = "*"
nbformat = "*"
nbdime = "*"
neovim = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
scikit-learn = "*"
seaborn = "*"
hmmlearn = "==0.1.1"
torch = "*"
torchvision = "*"
ipykernel = "*"
toolz = "*"

[dev-packages]

[requires]
python_version = "3.7"
