/* meyerweb's css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25em;
    background: rgba(249,249,249);
    color: rgba(55,55,55);
    display: grid;
    grid-gap: 10px;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: 80px 1fr 80px;}

#grid-head { grid-area: nav; }
#grid-body { grid-area: main; }
#grid-foot { grid-area: footer; }


h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0;
}

h2 {
    padding: 0.5em 0;
    font-weight: bold;
    font-size: 1.5em;
}
strong {
    font-weight: bold;
}
.padd {
    padding: 0 0.5em;
}
.border-right {
    border-right: 1px solid black;
}
em {
    font-style: italic;
}
th {
    border-bottom: 1px solid black;
    font-weight: bold;
}
table {
    text-align: center;
    width: 100%;
}
td,
th {
    padding: 0.2em;
}
tr:nth-child(even) {
    background: rgb(245,245,245);
}
.centered {
    width: 100%;
    text-align: center;
}
ul {
    list-style: inside;
    margin-left: 1em;
}
li li {
    padding-left: 1em;
}
li {
    line-height: 1.5em;
}
code {
    font-family: monospace;
    color: #00c0ff;
    font-weight: bold;
    font-size: 1.25em;
}
a code:hover {
    color: #ffc000;
}
a {
    text-decoration: none;
    border-bottom: 1px dashed #00c0ff;
}
a:hover {
    text-decoration: none;
    color: #ffc000;
    border-bottom: 1px solid #ffc000;
}
