<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MDWiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="" rel="alternate" type="application/rss+xml" title="mdwiki" />
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="https://chrisdavison.github.io/css/style.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  </head>

  <body>

    <div id="grid-head"> <h1>{{{title}}} <a href="/edit/{{{title}}}">(edit)</a></h1> </div>

    <div id="grid-body"><article> {{{contents}}} </article></div>


    <div id="grid-foot"><footer id="footer">
        <p>&copy; 2020 
          <a href="mailto:c.jr.davison@gmail.com">Chris Davison (email me!)</a>
        </p>
        <p><a href="/">Home</a></p>        
      </footer>
    </div>
  </body>
</html>
