<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Finances</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="grid-head" class='centered'><a href="/help">{{ title | title }}</a></h1>
        <form id="grid-body" action="{{ url_for('new') }}" method="post">
            <strong>Title: </strong><input type="text" name="title"></br>
            <strong>Author: </strong><input type="text" name="author"></br>
            <strong>Genre: </strong><input type="text" name="genre"></br>
            <strong>Status: </strong><input type="text" name="status"></br>
            <strong>Read: </strong><input type="text" name="read"></br>
            <input type="submit">
        </form>
        <div id="grid-foot"><a href="/help">HELP</a></div>
    </body>
</html>

