<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="grid-head" class='centered'>Finances</h1>
        <div id="grid-body">
            <div class='centered'>{{ extra_pre | safe }}</div>
            <br>
            <table>
                <tr>
                    <td style='width: 10%'><input id="input_date"></input></td>
                    <td class='border-right'><span></span></td>
                    <td style='width: 20%'><input id="input_category"></input></td>
                    <td style='width: 50%'><input id="input_description"></input></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <th class='border-right'>£</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            {% for row in finances %}
                <tr class='finance-entry'>
                    <td>{{ row["date"] }}</td>
                    <td class='border-right'>{{ row["cost"] }}</td>
                    <td>{{ row["category"] }}</td>
                    <td>{{ row["description"] | truncate(40) }}</td>
                </tr>
            {% endfor %}
            </table>
            <br>
            <div class='centered'>{{ extra_post | safe }}</div>
        </div>
        <div id="grid-foot"><a href="/help">HELP</a></div>
        <script type="text/javascript" src="{{ url_for('static', filename='finance_filter.js') }}"></script>
    </body>
</html>

